/* Styling to startGame */

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.StartGame-logo {
  width: 700px;
  height: 200px;
  z-index: 1;
  margin-bottom: 200px;
}

.StartGame-button,
.StartGame {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
}


.StartGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.StartGame-videos {
  height: 100;
  width: 100;
  position: fixed;
  z-index: -20;
}

.StartGame-button:hover {
transform: scale(1.1);
}

.StartGame-button img:hover {
transform: scale(1.1);
}

.StartGame p {
  font-size: 48px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  z-index: 1;
}

.StartGame-input {
  font-family: 'Press Start 2P', cursive;
  width: 360px;
  height: 30px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
}