.Jogo {
    height: 100vh;
}

.videos {
    height: 100;
    width: 100;
    position: fixed;
    z-index: -20;
}

/* 3/4 do ecra - parte de baixo */
.Jogo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70%;
}

/* 1/4 do ecra - parte de cima */
.Pontos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 30%;
}

/* Logotipo */
.box-logo {
    display: flex;
    align-self: center;
}

.Logo-top {
    height: 175px;
}

/* Caixa da pontuacao */
.ptPlayer1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: left;
    position: absolute;
    left: 0;
    margin-left: 10%;
    font-size: 18px;
    color: #ffda09;
    text-shadow: 5px 5px #2c48c5;
}

.ptPlayer1 h2 {
    font-family: 'Press Start 2P', cursive;
}

.Oak {
    display: flex;
    align-self: flex-end;
    height: 450px;
    margin-bottom: 5%;
}