.joker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joker-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.joker button{
    background:none;
    border: none;
}

.joker button:disabled{
    background-color: blue;
}